header {
    background: url('/travel-agency/images/header.jpg') center / cover no-repeat;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    height: 80vh;
    color: white;
}

header > .container-md {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
header > .container-md > #main-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}

#header-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-nav a {
    display: inline;
    margin: 0 10px;
}

#top-navigation  > .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
    
.menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

#sign-in {
    border-radius: 25px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
}

#search-bar {
    background-color:rgba(0,0,0,0);
    border:none;
    caret-color: white;
    padding-top: 10px;

}

#search-bar::placeholder {
    color: white;
    font-weight: 100;
}

.form-items {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
}

.input-item-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.input-item {
    margin-bottom: 10px;
    flex-grow: 1;
}

.input-item > input, select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

.input-item:last-child {
    margin-bottom: 0;
}

.input-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: 200;
}

#destination-button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    box-sizing: border-box;
}

/* big screens */
@media (width >= 768px) {
    .form-items {
        flex-direction: row;
        justify-content: center;
        align-items: end;
        margin-bottom: 20px;
        width: 100%;
    }

    .input-item {
        margin: 0 10px;
    }

    button {
        margin-top: 20px;
    }

    .input-item-row {
        width: auto;
    }

    .container-md > .destinations {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        padding: 60px 0;
    }

    .destination .location {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .destination img {
        max-height: none;
    }

    footer > .container-md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center
    }
}

/* small screens */
@media (width <= 767px) {
    .form-items {
        flex-direction: column;
        align-items: center;
    }

    .input-item {
        width: 100%;
    }

    button {
        margin-bottom: 20px;
    }

    .input-item-row .input-item {
        margin-right: 5px;
    }

    .input-item-row .input-item:last-child {
        margin-right: 0;
    }

    .destination img {
        max-height: 250px
    }

    #newsletter {
        padding-top: 30px;
    }
}

#small-title {
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
}

#main-title {
    font-size: 4rem;
    text-shadow: 2px 2px rgb(84, 83, 83);
    font-weight: 600;
}

.destinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 20px 0;
}

.destination {
    position: relative;
}

.destination img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.destination .location {
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.city {
    font-family: 'Dancing Script';
    font-size: 2rem;
    font-weight: 800;
}

.country {
    font-size: 0.9rem;
    color: rgb(203, 199, 199);
}

footer nav > a {
    display: block;
    color: black;
}

header nav > a {
    display: block;
    color: white;
}

footer {
    background-color: #ffc107;
    padding-top: 60px;
    padding-bottom: 60px;
}

h2 {
    padding-top: 30px;
}

#subscribe-button {
    margin: 0
}
