:root {
    --white-color: #fff;
    --black-color: #000;
    --font-family-primary: 'Montserrat', 'Helvetica Neue', sans-serif;
    --font-family-secondary: 'Dancing Script', 'Comic Sans MS', cursive;
}
